<<<<<<< HEAD
.buttonrange {
  border: 1px solid darkGrey;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1em 2em;
  grid-template-columns: 3em 1fr 3em;
  grid-column-gap: 5px;
  grid-template-areas:
    "bl lbl bm"
    "bl sli bm";
  align-items: stretch;
  justify-items: stretch;
}

.buttonrange-less {
  grid-area:bl;
}
.buttonrange-more {
  grid-area:bm;
}
.buttonrange-label {
  grid-area:lbl;
}
.buttonrange-slider {
  grid-area:sli;
  margin: 0 20px 0 20px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.bigbutton {
  height: 100%;
  /*width: 100%;*/
  font-size: 2em;
=======

.square {
  position: relative;
}

.square:before {
  content: "";
  float: left;

  /* essentially the aspect ratio. 100% means the
  div will remain 100% as tall as it is wide, or
  square in other words.  */
  padding-bottom: 100%;
}

.square:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height:100%;
>>>>>>> 346e3b3f1c198fac60d09817aa5ec04a2a139f44
}
